*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* header-section */

header{
    background-image: url(../images/banner/banner1.png);
    background-position: center ;
    height: 100vh;
    background-size: cover;
}
.banner{
    width: 1050px;
    text-align: right;
    margin: 0 auto;
    padding-top: 120px;
}
.banner h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    margin-left: 565px;
}
.banner p{
    font-size: 15px;
    color: #444343;
    padding: 12px 0;
    margin-left:585px;
    line-height: 20px;
}
.primary-btn{
    font-size: 14px;
    color: #ffffff;
    background-color: #F15B22;
    border: 0;
    border-radius: 5px;
    width: 110px;
    height: 40px;  
}

/* failure-section */

.failure .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 850px;
    margin: 70px auto;
    gap: 110px;
}
.failure img{
    width: 350px;
}
.failure h1{
    font-size: 30px;
    margin-right: 90px;
}
.list{
    margin-top: 50px;
}
.list ul{
    list-style: none;
    margin-left: -40px;
}
.list p,li{
    font-size: 13px;
    color:#464646;
    line-height: 23px;   
}
.list p{
    padding:15px 0 ;
}
.list i{
    color: #37d137;
    padding-right:5px;
}

/* lesson-section */

.lesson h1{
    text-align: center;
    margin:50px;
}
.lesson .box{
    display: flex;
    width: 950px;
    justify-content: space-between;
    margin: 0 auto;
    gap: 15px;  
}
.lesson  .content{
    width: 185px;
    height: 25; 
    padding: 5px 10px;  
    background: #FFFFFF;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 6%);
    border-radius: 5px;
    padding: 15px;
    transition: transform .3s;
}
.lesson  .content:hover{
    transform: scale(1.1);
}
.lesson .content h3{
    padding-bottom: 10px;
}
.lesson .content p{
    font-size: 13px;
    color: #444343;
}
.box .first{
    background-color: #efff9a77;
}
.box .second{
    background-color: #d7e9ff30;
}
.box .third{
    background-color: #ff9dec14;
}
.box .forth{
    background-color:#ffe12d21;
}

/* my-plan-section */

.my-plan h1{
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}
.my-plan .text{
    width: 900px;
    margin: 35px auto;
    display: flex;
    gap: 25px;
    text-align: center;
}
.my-plan li{
    list-style: none;
    margin: 0 auto;
}
.my-plan img{
    width: 35px;
}
.my-plan p{
    color: #9a9a9a;
}
/* gradient-image-section */

.my-plan .gradient-img{
    background-image: linear-gradient(to right, #ff4e00a6, #c4c4c442),url(../images/watch.png) ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    width: 690px;
    height: 182px;
    margin: 80px auto;
    border-radius: 5px;
}
.my-plan .positive h2{
    color: white;
    font-size: 25px;
    padding: 30px 0px 10px 35px;
    width: 285px;
}
.btn-2{
    color: #ff5002;
    font-weight: 600;
    font-size: 12px;
    background-color: white;
    border: none;
    border-radius: 3px;
    width: 80px;
    height: 35px;
    margin-left:35px ;
}


/* footer-section */

footer{
    background-color: black;
   padding: 90px 0; 
}
.text{
    display: flex;
    width: 750px;
    justify-content: center;
    margin: 20px auto;
    color: #ffffff;
    gap: 150px;
}
.text h2{
    padding-bottom: 15px;
}
footer .future p{
    font-size: 13px;
    color: #9a9a9a;
    line-height: 20px;
    margin-bottom: 15px;
}
.subscribe input[type="email"] {
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #9a9a9a;
    background-color: #000000;
    width: 213px;
    height: 30px;
    margin-bottom: 15px;
}
::placeholder{
    padding-left:10px;
}
.subscribe .btn-2{
    width: 100px;
    margin-left: 1px;
}

/* icon-section */

.fa-brands{
    margin: 0 3px; 
}
.fa-facebook-f{
    color: #0048a0;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 6px 10px;
}
.fa-twitter{
    color: #58a3fe;
    background-color: #ffffff;
    padding: 7px;
    border-radius: 50%;
}
.fa-youtube{
    color: red;
    background-color: #ffffff;
    padding: 7px;
    border-radius: 50%;
}

